*{
    margin: 0;
    padding: 0;
    background-color: white;
}


body {
    margin: 0;
    padding: 0;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #ffffff;
}

main{
    display: flex;
    flex-direction: left;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.06);
    margin: 0;
    padding: 0;
    
}
.left {
    position: relative;
}

.left img {
    width: 500px;
    height: 500px;
    object-fit: cover;
    border-radius: 1%;
}

.welcome-text {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 40px;
    font-weight: bold;
    color: white;
    background-color: transparent;
}

.right{
    margin: 50px;
    width: 300px;
}

h1{
    color:black;
    font-weight: bold;
}

input{
    border-radius: 1%;
    height: 25px;
}
#Remember {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#Remember a {
    margin-left: auto;
}

button[type="submit"]{
    width:300px;
    color:white;
    background-color: violet;
    height: 40px;
    border-color: violet;
    font-weight: bold;

}

.signup {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 25px;
}

.signup span {
    font-weight: bold;
}

.signup a {
    color: purple;
    text-decoration: underline;
}

